.button_purple1 {
  width: 142px;
  height: 41px;
  color: hsl(230, 57%, 50%);
  background-color: #ffffff;
  border: 1px solid hsl(230, 57%, 50%);
  cursor: pointer;
}

.button_purple2 {
  width: 142px;
  height: 41px;
  color: #ffffff;
  background-color: hsl(230, 57%, 50%);
  border: 1px solid hsl(230, 57%, 50%);
  cursor: pointer;
}

.button_form1 {
  height: 40px;
  color: #ffffff;
  background-color: hsl(230, 57%, 50%);
  border: 1px solid hsl(230, 57%, 50%);
  cursor: pointer;
}

.button_form2 {
  height: 40px;
  color: #4200FF;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid hsl(230, 57%, 50%);
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
}

/* .button_register {
  height: 32px;
  width: fit-content;
  border: 1px solid #4200ff;
  border-radius: 255px;
  padding: 0px 8px;
  cursor: pointer;
} */
